.Og {
  width: 100%;
  background-image: url("../Img/Phoneackground.png") !important;
  background-repeat: repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
@font-face {
  font-family: ArabicFont;
  src: url("../Fonts/alfont_com_AlFont_com_Frutiger-LT-Arabic-65-Bold-1.ttf");
  font-weight: 500;
}
@font-face {
  font-family: FranchFont;
  src: url("../Fonts/orbitron-black.ttf");
  font-weight: 500;
}
html {
  scroll-behavior: smooth;
  transition: 1.5s ease-in-out;
}
/*alexanderai*/
body {
  background-image: url("../Img/Phoneackground.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: "ArabicFont", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

a {
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
/*navbar ======================================*/
.NavBar {
  width: 100%;
  background-color: #3f2922;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 7px;
  flex-wrap: wrap !important;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px burlywood;
}
.Logo {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}
.Links {
  flex: 1;
  padding: 0px 25px;
  flex-shrink: 1;
  width: 10% !important;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.Links a:hover {
  color: rgba(0, 255, 255, 0.795);
  letter-spacing: 1.5px;
}
.PhoneMenu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .NavBar {
    padding-right: 10px;
  }
  .Links {
    display: none !important;
  }
  .PhoneMenu {
    display: block !important;
  }
}
.MenuLinks {
  position: absolute;
  top: 40px;
  right: 11px;
  transition: all 0.5s ease-in-out;
}
.btngroupa {
  box-shadow: 0px 0px 20px burlywood !important;
  font-family: "ArabicFont" !important;
}

/*Her Section ==========================================*/
.Hero {
  margin-top: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "ArabicFont" !important;
}
.HeroContent {
  width: 80%;
  margin: auto;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.lOGO {
  flex: 1;
}
.TextContetn {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-direction: column;
  padding: 30px;
}
.Titel {
  font-weight: 800 !important;
  font-size: 55px;
  direction: ltr;
  text-align: end !important;
}

.NameOfBrand {
  font-family: "FranchFont", cursive;
  font-weight: 700 !important;
  color: burlywood;
  font-size: 45px !important ;
}
.BtnLink {
  font-family: "ArabicFont", sans-serif !important;
}

@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
.BtnHero {
  font-family: "ArabicFont", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 20px !important;
  font-weight: 500;
  font-style: normal;
  background: burlywood !important;
  padding: 10px 25px !important;
  color: whitesmoke;
  box-shadow: 0px 0px 15px rgb(123, 125, 126) !important;
  margin-top: 15px !important;
}

.Description {
  font-family: "ArabicFont", sans-serif !important;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  padding: 0 !important;
  margin: 0 !important;
}
.Pup {
  color: rgb(235, 6, 6);
  font-size: 12px;
  margin-top: 10px;
  font-family: "ArabicFont", sans-serif !important;
  font-optical-sizing: auto;
}
.barns {
  font-family: "FranchFont", serif;
  font-weight: 400 !important;
  color: burlywood;
  font-size: medium;
}
@media only screen and (max-width: 768px) {
  .Hero {
    height: auto !important;
  }
  .NameOfBrand {
    font-size: large !important;
    font-weight: 800 !important;
  }
  .HeroContent {
    flex-direction: column !important;
    width: 100% !important;

    margin-top: 100px !important;
  }
  .Titel {
    font-size: 35px !important;
    width: 100%;
    font-family: "ArabicFont" !important;
  }
}
/*Prodacts==============================*/
.Prodacts {
  width: 100%;
}
.ProdactsContanet {
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background: transparent;

  border-radius: 20px;
  color: whitesmoke;
  gap: 30px;
}
.Bodya {
  width: 90% !important;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #7c7e7ec5;
  margin: auto;
  color: black !important;
}
.ImgeProdact {
  width: 110px !important;
  margin: auto !important;
  margin-top: 10px !important;
  border-radius: 10px !important;
}

@media only screen and (max-width: 768px) {
  .Prodacts {
    height: 0vh !important;

    margin-top: 170px;
  }
  .Bodya {
    height: auto !important;
    width: 100% !important;
  }
  .CardActions {
    display: flex;
    justify-content: center;
  }
  .BtnCard {
    font-size: 15px !important;
    font-weight: 400;
  }
  .CardTitel {
    font-size: 23px !important;
    font-weight: 500;
  }
}
.BtnCard {
  font-family: "ArabicFont", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 500;
}
.CardTitel {
  font-style: normal;
  font-family: "FranchFont", cursive !important;
  font-weight: 500 !important;
  color: black !important;
}
.Prix {
  font-family: "FranchFont", serif;
  font-weight: 400 !important;
}

/*about ================================*/
.About {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  color: whitesmoke;
  flex-shrink: 1;
}
.AboutContetnt {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.AboutContetnt h1,
.Top h1 {
  font-family: "ArabicFont", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 50px !important;
  font-weight: 700;
}
.AboutContetnt p {
  direction: rtl;
}

@media only screen and (max-width: 768px) {
  .About {
    margin-top: 1000px !important;
  }
  .AboutContetnt h1,
  .Top h1 {
    font-size: 35px !important;
  }
}
.lim {
  font-family: "FranchFont", serif;
  font-weight: 400 !important;
  color: burlywood;
  font-size: medium;
}
/*Conact=======================*/
.Conatct {
  width: 100%;
  margin-top: 40px;
}
.ConatctContenet {
  width: 80% !important;
  margin: auto;
  color: antiquewhite;

  text-align: center;
}

.Top {
  font-family: "ArabicFont", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 50px;
  font-weight: 500;
}
.ConatctContenet .Body {
  width: 100%;
  justify-content: center;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .Top {
    font-size: 30px !important;
    font-weight: 700;
  }
}

/*Foter============================*/
/*form response end*/
/*foter response start*/
.foter {
  width: 100%;
  background-color: #050e18;
  margin-top: 70px;
  box-shadow: 0px 0px 30px burlywood;
  padding: 5px 10px;
}

.fotereContetn {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row !important;
}

.foter .links-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
}
.Mouaiz {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: burlywood;
  font-weight: 700 !important;
  font-size: 20px !important;
  padding: 0px;
  margin: 0 !important;
}
.Mouaiz a {
  font-family: serif !important;
  font-weight: 100 !important;
  color: burlywood;
  font-size: 15px;
  padding: 0px;
  margin: 0 !important;
}
.BtnLink {
  background-color: burlywood !important;
}
.btngroupa {
  background-color: burlywood !important;.TitelLogonIn input::placeholder{
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 768px) {
  .fotereContetn {
    width: 100% !important;
  }
  .Bt .BtnCard {
    font-size: 15px !important;
  }
}

/*=======AdminPage============*/
.AdminPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnLogIn {
  background-color: burlywood !important;
  font-family: "ArabicFont" !important;
  font-size: 30px !important;
  font-weight: 800;
  box-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
}
.TitelLogonIn {
  font-family: "ArabicFont" !important;
  font-size: large !important;
  font-weight: 800 !important;
  text-align: center !important;
}

/*Dashbord Real*/
.BodyContetnt{
  margin-top: 100px !important;
  width: 90% !important;
  margin: auto ;
background-color: red;
}
.ProdactsSiting{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.BtnCose{
  background-color: burlywood !important;
}
.Tabs{
  font-family: "ArabicFont" !important;
  font-weight: 800 !important;
  padding: 10px !important;
}
.formDatat{
direction: rtl;

}
.formDatat input , textarea{
  width: 100% !important;
 padding: 10px !important;
}